body {
    background-color: darksalmon;
}

.container{
    display: flex;
    background-color: darkorange;
    justify-content: space-around;
}

.fruit {
    width: 100px;
    height: 100px;
}

.secondContain {
    display: flex;
    flex-direction: column;
    width: 300px;
    text-align: center;
    font-size: larger;
    margin: auto;

}